<div id="dashboard-main-container"></div>
<footer>
    <button class="new-post-button" onclick="setPage()">+ New Post</button>
</footer>

<div id="create-post-container">
    <h1>Create New Post</h1>
    <div id="create-post-main-section">
        <span>Title</span>
        <input type="text" id="title">
        <span>Content</span>
        <input type="text" id="content">
        <button onclick="createPost()">Create</button>
    </div>
</div>

<script src="/js/createPost.js"></script>