<div class="login-and-signup">
    <h1>Login</h1>
    <div class="login-signup-main-section">
        <span>Username</span>
        <input type="text" id="login-username">
        <span>Password</span>
        <input type="password" id="login-password">
        <button onclick="login()">Log In</button>
        <a href="/signup">Sign Up Instead</a>
    </div>
</div>

<script src="/js/login.js"></script>