<div id="main-post-container">
    <div class="create-comment-main-section">
        <div class="post">
            <div class="post-header">
                <h3 id="title"></h3>
                <span id="user-info"></span>
            </div>
            <span id="content"></span>
        </div>
    </div>
    <div id="comment-container"></div>
    <footer>
        <button class="new-post-button" onclick="addComment()">Add Comment</button>
    </footer>
</div>

<div id="create-comment-container">
    <div id="create-comment-header"></div>
    <div id="create-comment-main-section">
        <span>Comment</span>
        <textarea id="comment-content"></textarea>
        <button onclick="makeComment()">Submit</button>
    </div>
</div>

<script src="/js/commentPage.js"></script>